<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hengxunda.springcloud.order.mapper.OrderMapper">

    <select id="listAll" resultType="com.hengxunda.springcloud.order.entity.Order">
        SELECT * FROM t_order
        <if test="keyword != null and keyword != ''">
            <where>
                (
                order_no LIKE concat('%', #{keyword}, '%')
                OR
                user_id = #{keyword}
                OR
                status IN (#{keyword})
                )
                AND create_time BETWEEN DATE_SUB(NOW(), INTERVAL 1 MONTH) AND NOW()
            </where>
        </if>
        ORDER BY create_time DESC
    </select>

    <select id="get" parameterType="java.lang.String" resultType="com.hengxunda.springcloud.order.entity.Order">
        SELECT * FROM t_order WHERE order_no = #{orderNo}
    </select>

    <insert id="insert" parameterType="com.hengxunda.springcloud.order.entity.Order" useGeneratedKeys="true"
            keyProperty="id" keyColumn="id">
        INSERT INTO t_order (order_no, user_id, product_id, status, `count`, total_amount, create_time)
        VALUES (#{orderNo}, #{userId}, #{productId}, #{status}, #{count}, #{totalAmount}, #{createTime})
    </insert>

    <update id="update" parameterType="com.hengxunda.springcloud.order.entity.Order">
        UPDATE t_order SET status = #{status}
        <if test="totalAmount != null">
            , total_amount = #{totalAmount}
        </if>
        WHERE order_no = #{orderNo}
    </update>

</mapper>